[2015-01-17 20:04] Wild1145 opened #1 "Extencive Warning System"
Something a bit like the DarthCraftMod System, this would log to MySQL and allow callback for admins in game to review both the current amount of warnings and any logged reasons why the player has been warned.

[2015-01-17 20:06] Wild1145 opened #2 "Improved Reporting System"
Something that is a cross between the old CJFreedomMod System and the newer DarthCraftMod system where when a player is reported for any reason, it logs to MySQL the reason, reported players IGN, Reportee's IGN and the position of the player at this time. Then create a "Ticket" number so that admins can close the issue later in game or easily find it on the panel.

This would also then give the pl

[2015-01-17 20:07] Wild1145 opened #3 "Pie Command"
More of a fun command, but having the /pie command re-added, possibly with a /pi command as a more mathematical joke of a command?

This isn't something that is particularly urgent but would be nice to have added.

Unlike CJFreedomMod perhaps have this so you can execute it as a player and just get it yourself, or if an admin runs it then everyone gets one.

[2015-01-17 20:08] Wild1145 opened #4 "Potato Command"
Another slightly fun command. Based from CJFreedom, simply gives one a potato.

Unlike CJFreedomMod perhaps have this so you can execute it as a player and just get it yourself, or if an admin runs it then everyone gets one.

[2015-01-17 20:10] Wild1145 opened #5 "WorldEdit Toggle Command"
Having the ability to turn the WorldEdit plugin on and off would be useful for admins in game so that they can easier manage the workload of a lot of players if there is an admin shortage.

[2015-01-17 20:12] Wild1145 opened #6 "Doom Hammer"
Just like the CJFreedomMod one, a Camzie Creation of utter madness and destruction! Probably one for Camzie to create again, but a fun one.

[2015-01-17 20:13] Wild1145 opened #7 "Busy System"
Just like the system that DarthCraftMod supports, a busy system that will stop you being disturbed when trying to work would be handy.

[2015-01-17 20:15] Wild1145 opened #8 "Development Mode"
A bit like admin mode but with three options

 - Everyone can connect but just gets a warning when they join the server
 - Only admins can join and get a warning anyway
 - Only Developers can join and get a warning.

If its in the second or third mode, when there are no developers online it would automatically switch to the first mode after 5 (maybe 10) mins.

[2015-01-17 20:16] Wild1145 opened #9 "Nyan Toggle Command"
Should we decide to have some sort of Nyan plugin like CJFreedom this will come in handy quite a lot! This is a low priority until we finalize the plugins we will be running on the network.

[2015-01-17 20:16] Hockeyfan360 commented on #7
This should not be hard. I am not at my desktop currently, but I will get to work on this soon.

[2015-01-17 20:19] Wild1145 opened #10 "Famous Person Warning System"
When a famous player (as defined by the TFM main config) joins the game, a warning should be displayed to all online players to notify them that this is a fake player joining.

[2015-01-17 20:20] Hockeyfan360 commented on #5
I can easily implement this. This should take a few minutes at most.

[2015-01-17 20:20] Wild1145 opened #11 "Anti Creative PVP System"
This would simply prevent the ability for players to creative / God mode PVP other players. This also should issue a warning to the player so that admins are notified when they join again.

[2015-01-17 20:20] Wild1145 commented on #1
Just as a note, this should also log the IP and display warnings based on the IP and not the player

[2015-01-17 20:23] Wild1145 opened #12 "Auto Enable Command spy"
Upon any admins joining the game, the command spy feature should be enabled by default. Shouldn't be too hard for anyone to implement, just something that should be added.

[2015-01-17 20:25] Wild1145 opened #13 "Extencive Core Protect Intergration"
I would like to possibly even replace the entire of the way TFM currently manages its role back system for both block breaking and possible even WorldEdit and replace it with a core protect system. This would make it a lot easier to trace damage and such.

[2015-01-17 20:25] Wild1145 opened #14 "Senior Admin Chat"
Like normal admin chat, but for seniors. Its as simple as that really.

[2015-01-17 20:27] Wild1145 opened #15 "Voting System"
It would be great to have some sort of incentives to vote, I am not sure exactly what, but maybe have players able to earn credits or something like that to "spend" in an online store or similar to get free perks like access to their own world, a color tab name and similar.

This is something more long term as it will probably depend on some sort of panel, and may not even be viable for what we ar

[2015-01-17 20:28] Wild1145 opened #16 "Twitter Intergration"
Thinking it would be cool to have the server send tweets when players are promoted and possibly for some other things. Again this isnt a major rush thing, but something for the long term to think about.

[2015-01-17 20:29] Wild1145 opened #17 "Supporting the new "Alert" when players login"
The full screen alert setup that we use on DarthCraft to welcome players back. This will probably end up having to be done by a separate plugin due to the lack of an API so far, however there may be some way through an API to do it in the future either through TFM or BukkitLib.

[2015-01-17 20:31] Wild1145 opened #18 "Replacing the original TFM announcer with a better one"
The action announcer system that we use in DC is a far less interrupting way of sending announcements and actually looks a lot nicer than chat messages. Possibly even able to link it all in to one announcement system that also utilizes BarAPI.

[2015-01-17 20:32] Wild1145 opened #19 "Setting custom login messages in game"
To give admins that bit more freedom, setting custom login messages would be a huge perk for our admins. Shouldn't be too hard to implement but would definitely be cool for admins.

[2015-01-17 21:16] Wild1145 opened #20 "Management Rank"
Not sure if its possible without direct modification of TFM, but the ability to have some sort of "Management" Rank would be handy... More of a display rank, but still handy.

[2015-01-17 23:37] Hockeyfan360 opened #22 "Bug?"
Basically, I get this error every time I try to load the plugin. I have compiled the plugin with craftbukkit1.8 and BukkitLib1.3.

[17:32:01] [Server thread/INFO]: [IcarusMod] Enabling IcarusMod v0.0.0
[17:32:01] [Server thread/ERROR]: Error occurred while enabling IcarusMod v0.0.0 (Is it up to date?)
java.lang.NullPointerException
	at com.superiornetworks.icarus.IcarusMod.onEnable(IcarusMod.java:

[2015-01-17 23:39] Wild1145 commented on #22
I cant say as I have tried to actually run the plugin yet... I will take a look in to this and see if there is a simple explanation.

[2015-01-17 23:42] Wild1145 commented on #22
I think the best way to easily resolve this is to switch from the current way of logging and use TFM's logging system...

[2015-01-18 00:01] Hockeyfan360 commented on #22
It has (from my knowledge to this point) nothing to do with the logger. I completely removed the logger from the class.

[2015-01-18 02:39] Hockeyfan360 commented on #22
I am still getting errors. I will be creating a completely new main class. I will be making the old main class notes, that way we can easily revert it back to its previous state.

EDIT: The new class works. Since I am replacing the whole main class, I will be seeking your permission before committing.

[2015-01-18 18:13] Wild1145 commented on #20
Implemented via TotalFreedomMod Customization. See https://github.com/Superior-Development/TotalFreedomMod/commit/baec107653c06eef10c91cfd3bc0131f919eff38

[2015-01-18 18:13] #20 closed

[2015-01-18 22:24] Wild1145 opened #23 "Random Chat Colours"
Like in Camzies new madness plugin, the &- creates a random chat color. I love it and want it supported here! Maybe just in nicks to start with though if possible ;)

[2015-01-18 22:56] Hockeyfan360 commented on #22
I have no errors with startup. I need to know why commands aren't working. I will be posting a pull request so that you can see what I am talking about.

[2015-01-19 10:12] Wild1145 opened #24 "Migrate player login messages & Tag handling from TFM"
To allow us to expand with our own custom ranks, migrating all of the current login messages to a module here would make life a lot easier in the longer term.

[2015-01-19 10:15] Wild1145 opened #25 "Friend / Buddy System"
More of a discussion one here, but perhaps find a way to have some sort of friend / buddy system. This way you can add a players name and IP to your "Friends" list, and when they login you are notified that they have logged in and are on the same IP as when you friended them.

[2015-01-19 10:26] Wild1145 opened #26 "Migrate Command Spy & Enhance"
One of the big things that I feel command spy could use is command "highlighting" where certain key words on command spy are bold / another colour so that admins can easily see who is potentially using harmful commands.

This will require migrating the command spy system in from TFM and being handled within this plugin. Any feedback would be appreciated.

[2015-01-19 10:33] Wild1145 commented on #25
@Superior-Development/java-pull-push-team @Superior-Development/java-pull-team Comments Please People.

[2015-01-19 10:37] Wild1145 commented on #26
@Superior-Development/java-pull-push-team @Superior-Development/java-pull-team Comments Please People.

[2015-01-19 18:27] Wild1145 commented on #22
@Hockeyfan360 Could you push the code either to a PR or create a BLEEDING branch so that myself and the other developers can take a look and see if we can identify the issue please.

[2015-01-19 19:41] Hockeyfan360 commented on #26
(I am not looking at the actual source), but before messaging to a player, we can check the commandspy string like this:

if (commandspy.contains("/commandtobehighlighted")
{
//Code here
}

Please don't assign me, I am still focusing on getting the main class to work.

[2015-01-19 19:44] Hockeyfan360 commented on #25
We could put a string list in the config, and create a new string list for every player that joins.

(Then, players use a command to add someone's name to the list)

[2015-01-19 19:47] Hockeyfan360 commented on #22
@Wild1145 Done.

[2015-01-19 19:51] Hockeyfan360 commented on #10
Again, don't assign me, but we could do something like this:

Plugin tfm = Bukkit.getServer().getPlugin("TotalFreedomMod");

EventHandler
public void famousPlayerJoin(PlayerJoinEvent event)
{
if (tfm.getConfig().getStringList("famousplayerlist).contains(event.getPlayer().getName())
{
//Warn people here.
}
}

[2015-01-19 20:32] Wild1145 commented on #25
@Hockeyfan360 I was leaning more towards MySQL so that it was cross server with as much as possible... That would work more if this was just for one server, but I am looking more towards scalability with this one.

[2015-01-19 20:33] Wild1145 commented on #26
@Hockeyfan360 Thats the sort of thing I am thinking, then just have a database with the keywords in so that everything is global where possible. The next thing to decide is what words we highlight.

[2015-01-19 21:11] #22 closed

[2015-01-19 22:04] Wild1145 commented on #18
I have decided that for the sake of keeping things easy this will be implemented directly into the custom TFM for the time being. I will switch it over to Icarus in the future, however currently overall server functionality is what I am looking to get, then we can clean it up a bit later!

[2015-01-20 00:00] Hockeyfan360 commented on #25
I completely forgot this was going to be a bungee server. I do not have a ton of experience with MySQL, I have a basic idea of what it is.

[2015-01-20 00:05] Hockeyfan360 commented on #26
Maybe;
/smite
/pardon
/nuke
/tnt
/ci

Just a list for starters. We could make it (for some commands) so that if there are so many args (e.g. /ci <player>), it would highlight.

[2015-01-20 00:07] Wild1145 commented on #25
I dont have the most experience, from what I saw yesterday @CameronRedmore seems to have a good understanding of how it all works as he used it on his own plugin that uses a lot of SQL.

[2015-01-20 09:01] Fyrsta commented on #25
I'll be happy to verify anything that you've done MySQL related in terms of efficency and security.

[2015-01-20 11:16] Wild1145 opened #28 "Ability To Disable AdminWorld Access"
Something we had in CJFreedomMod was the ability for senior staff to enable and disable access to the admin world. Having this implemented here for developers, managers and the other higher custom ranks would be quite useful I think.

[2015-01-20 11:42] Wild1145 commented on #13
So far the API is not playing nice... I'd like to replace the existing TFM rollback and grief detection system with the core protect system, however it may need to go on hold anyway until a web panel is working properly..

[2015-01-20 13:56] Wild1145 opened #29 "Tormenting System"
Something myself and @WickedGamingUK were discussing earlier was having some sort of evil tormenting system for those players that deserve to be banned, but deserve to suffer extensively before doing so.

Currently I am looking at some ideas that we can implement it with, and how to make it as evil as possible. We can then work on the logistics later :)

[2015-01-20 14:28] #10 closed

[2015-01-20 14:39] Wild1145 commented on #19
Bumped to the 1.0 Release.

[2015-01-20 14:39] Wild1145 commented on #12
Bumped to the 0.5 Release.

[2015-01-20 19:03] Wild1145 commented on #28
This _might_ require actually migrating admin world handling through to Icarus, while its kinda good, its also a kinda pain in the backside. I may be able to think up a easier way to do it, but otherwise thats what will have to be done. Any suggestions @Superior-Development/java-pull-push-team

[2015-01-20 21:40] Hockeyfan360 commented on #7
@Wild1145 So do you just want it to say something in chat, or do you want it to prevent other things?

[2015-01-20 21:41] Hockeyfan360 commented on #29
We can send them loads of client side packets to crash their computer <3

[2015-01-20 21:44] Hockeyfan360 opened #30 "Move from bukkitlib for command-handling."
This may sound like a bad idea, but we have been having issues preventing us from moving forward. It would not be hard to make a isManager boolean in the TFM. That way, we can do permissions. Then, it we only use BukkitLib for it's Utils, not the commands.

[2015-01-20 21:52] Wild1145 commented on #30
I am not too sure what is wrong with the existing setup to be fair. With regards to permissions you should be able to do everything you would need to do. For now it will be best to keep it simple and functional, that way we dont have to spend hours trying to figure out what we broke in custom command handling.

Its something that I would be happy to do in the longer term, but definitely not before

[2015-01-20 21:53] Wild1145 commented on #7
@Hockeyfan360 Take a look at the way DarthCraft does its busy system, thats the sort of thing I am looking for here.

[2015-01-20 21:54] Wild1145 commented on #29
@Hockeyfan360 While evil, I dont want to be paying for new computers of having angry parents hunting me down :P

[2015-01-20 22:17] Hockeyfan360 commented on #30
Then what is wrong with the current setup? The commands will not load, even though we are using all of the things suggested by the BukkitLib wiki.

[2015-01-20 22:21] Wild1145 commented on #30
I tested the /icarusmod command and it works perfectly fine. The problem was on my side due to the fact that BukkitLib requires (As TFM does) for the actual command name to be lower case. We had Command_Icarus when it should have been Command_icarus  It was my mistake, and after realizing and testing, it all functions perfectly fine. You just have to remember to add it to the plugin.yml

[2015-01-20 22:26] Hockeyfan360 commented on #30
It wasn't working not too long ago. Issue closed.

[2015-01-20 22:27] Wild1145 commented on #30
This is something that I will look in to doing in the longer term, but for now it does work easier to keep where we are. I will re-open it as a issue to come back to when we are ready to make it quicker to add new commands.

[2015-01-20 22:29] Hockeyfan360 commented on #29
@Wild1145 We can crash their MC (with something like /tellraw #), and do that everytime they try to join until bans are cleared.

We could probably send them some messages and make it look like another player said that they are lagging before they are crashed.

[2015-01-20 22:33] Wild1145 commented on #29
@Hockeyfan360 Hmmmm, To be fair the more evil the better, me and @WickedGamingUK are "Competing" to make the most evil system. So only time will tell exactly how evil this will end up...

[2015-01-20 23:12] #5 closed

[2015-01-21 15:09] Wild1145 opened #31 "Username "Alert" system"
When a player logs in, it should check if their username has been banned through the Fishbans API.

This should also be a toggle for admins in game so they can opt to see it or not, though should log no matter what.

[2015-01-21 17:12] CameronRedmore commented on #28
Shove a teleport listener in there and listen for when someone teleports into the world names 'adminworld', if the adminworld is disabled, cancel the event.

[2015-01-21 17:16] Wild1145 commented on #28
@CameronRedmore Thinking about it, that would probably make more sense...

[2015-01-21 17:26] Fyrsta commented on #28
@Wild1145 @CameronRedmore Depending on how adminworld works, a check in the command would be better.

[2015-01-21 17:31] Wild1145 commented on #28
@WickedGamingUK True, however the problem you have then is that its another modification to TFM. Thats something we are trying to keep to an absolute minimum.

[2015-01-21 19:01] CameronRedmore commented on #30
I still think we should move to my command handling system :)

[2015-01-21 19:24] Wild1145 commented on #30
@CameronRedmore I dont mind moving over, but I really want to get the core setup done first, then when we have that setup, we can tweak with the finer workings of the plugin like command handling. I also would like to actually take a proper look at your command handling setup, as I dont believe I have any sort of source code access to the plugin.

I am not ruling it out, but as the issue says, put

[2015-01-21 20:27] CameronRedmore commented on #23
Easy as pie, well, it would be if we were using CamUtils, because that's what my LCLM uses, but I could copy over the methods, it wouldn't take too long.

[2015-01-21 20:27] CameronRedmore commented on #6
Should be easy enough, (I think & hope)

[2015-01-21 20:28] CameronRedmore commented on #14
Like the others, shouldn't be too hard to implement thanks to my prior knowledge of the subject.

[2015-01-21 20:53] Wild1145 commented on #23
@CameronRedmore I am more keen on writing as much of the code from scratch where possible, just so that everything has been designed for the plugin in mind, and it just keeps everything properly clean :)

[2015-01-21 20:53] Wild1145 commented on #6
:+1:

[2015-01-22 01:45] Wild1145 opened #32 "Switching to TFM Command Handling"
As of https://github.com/Superior-Development/IcarusMod/commit/de8e0ba860c1117873530caa50a40f83565b36e7 I have been playing with the idea of using TFM command handling to manage the permissions side of our command setup. This could link in with #30 dependent on how we decide to take it forward, however utilizing TFM's command setup may prove handy in the future.

This has not been tested, it may n

[2015-01-22 13:05] WickedGamingUK opened #33 "Cleanup Main Plugin File"
There's quite a few things that could be done to cleanup the main plugin file.

For example, https://github.com/Superior-Development/IcarusMod/blob/master/src/com/superiornetworks/icarus/IcarusMod.java#L47 doesn't need to be there at all since line 46 does the same thing.

And https://github.com/Superior-Development/IcarusMod/blob/master/src/com/superiornetworks/icarus/IcarusMod.java#L53 could be

[2015-01-22 13:07] Fyrsta commented on #29
@Wild1145 You'll most likely get something done for this before I will. I've got quite a lot of complicated things to get done in TranxCraft before I can work on features such as this. But, may the most evil person win.

[2015-01-22 19:14] Wild1145 commented on #29
@WickedGamingUK Fair enough, we have a fair way to get before we start playing with this yet anyway, so we may end up working on it a tad closer to each other... :+1:

[2015-01-22 19:18] Wild1145 commented on #33
https://github.com/Superior-Development/IcarusMod/blob/master/src/com/superiornetworks/icarus/IcarusMod.java#L47  was something @Hockeyfan360 added before he knew how the command loading worked, thats something I was aware of myself and was planning to clean up in a later commit.

I was not aware of the BukkitLib listener setup, thats something that would be good to switch to obviously if it is ke

[2015-01-22 19:19] Wild1145 commented on #32
@Superior-Development/java-pull-push-team Opinions please everyone.

[2015-01-22 19:24] CameronRedmore commented on #32
I believe a linkage into the TFM's command system would be a very beneficial experience however permissions could be a slight pain, we'd likely have to make individual boolean checks at the top of each command class for any custom ranks.

[2015-01-22 19:28] Wild1145 commented on #32
@CameronRedmore To be honest, I dont really imagine having a lot if any commands that will be for custom ranks, as most "Manager" commands will be just like the current seniors can do...

[2015-01-22 19:33] Wild1145 commented on #33
@WickedGamingUK For listener registering, when I look at some of the BukkitLib example projects, Is see:

[code]

as an example. While all on one line, that looks far less clean having loads of them. Unless there is a different way to load the listeners that I didnt see...

[2015-01-22 19:38] Fyrsta commented on #33
@Wild1145 Using BukkitLib is a good way. However, feel free to try something I've wrote in TranxCraft (not tested, so it may not work):

[code]

You'll need https://code.google.com/p/reflections/ for it to work but it _should_ allow you to dynamically register all listeners in the same package.

[2015-01-22 19:46] Wild1145 commented on #33
@WickedGamingUK Do you just build Reflections in to the plugin the same as BukkitLib?

[2015-01-22 20:05] Fyrsta commented on #33
@Wild1145 Most likely.

[2015-01-22 20:42] Fyrsta commented on #33
@Wild1145 Does it work?

[2015-01-22 20:43] Wild1145 commented on #33
@WickedGamingUK It seems that the code does, but I am having some problems actually building the dependency in to the plugin. I need to play around with it a bit more, so will do so later.

[2015-01-22 20:45] Fyrsta commented on #33
@Wild1145 Just put it in the build.xml file like it does for BukkitLib.

[2015-01-22 21:19] Wild1145 commented on #33
@WickedGamingUK I did and it fixed one error, not the next. I need to play around a bit and find what the error is exactly pointing to and resolve that.

[2015-01-22 21:20] Fyrsta commented on #33
@Wild1145 Alright, it should work but play around with it. It may need other dependancies.

[2015-01-22 23:21] #7 closed

[2015-01-22 23:42] #12 closed

[2015-01-22 23:46] Hockeyfan360 commented on #28
It could quite honestly be easier to create a boolean. Then, we create a command preprocess event. We check to see if the command starts with "admin-world." Then, we check to see if the boolean is true or false. If true, they can access the admin-world, if false, they cannot.

[2015-01-22 23:48] Hockeyfan360 commented on #9
@Wild1145 Nyan caused quite a lot of lag on CJF. If we decide to add it, we should reduce the amount of particles that we display.

[2015-01-22 23:49] Wild1145 commented on #9
@Hockeyfan360 Its the reason Its on hold and flagged to contact me prior to implementation. I am currently just not sure if I want the plugin, or if we will not bother. If we do want the plugin, this will be a must. If we dont, its obviously a waste of a java file.

[2015-01-22 23:58] Hockeyfan360 commented on #13
I do know that FOP already has a coreprotect bridge. It would be easy to just use that. I have no idea how I would do this, and Cam has already done it. I will take over a few of your assignments (that you have not started) if you want to work on this @CameronRedmore

[2015-01-23 00:08] Wild1145 commented on #33
I am working on this and a few other bits on the cleanup branch. https://github.com/Superior-Development/IcarusMod/tree/Cleanup

[2015-01-23 00:16] Wild1145 commented on #33
The good news is that I have tested it and the Jar is having reflections build in. The bad thing is that I get this error.

[code]

I am not 100% sure even what is happening other than a dependency / package / file is missing... @WickedGamingUK your help would be useful here.

[2015-01-23 00:37] Wild1145 commented on #25
Bumped to the 1.0 Release.

[2015-01-23 00:38] Wild1145 commented on #24
Bumped to the 1.0 release

(Sorry about the spam, I kept clicking the wrong one...)

[2015-01-23 06:50] Fyrsta commented on #33
@Wild1145 A required dependency isn't found. That's what that error means.

[2015-01-23 12:13] Wild1145 commented on #33
@WickedGamingUK Thats the thing... The dependency is built in, I even de-compiled the plugin to check... Evidently more dependencies are required...

[2015-01-23 12:34] Fyrsta commented on #33
@Wild1145 Yeah, probably best to find out what all of the needed dependencies are and then create a jar where it has all of the dependencies built in for simplistically.

[2015-01-23 18:17] #28 closed

[2015-01-23 18:19] CameronRedmore commented on #29
I think I'll be on wild's side, I can be pretty evil myself sometimes MUHUHAHAA :)

[2015-01-23 18:37] CameronRedmore commented on #11
Resolved with the latest commit.

[2015-01-23 18:37] #11 closed

[2015-01-23 19:02] #6 closed

[2015-01-23 19:04] CameronRedmore commented on #13
The FOPM's bridge doesn't do anything, it's all commented out, I might be able to work on this but on FOP all we did was add CoreProtect and block the commands so only admins can use them.

[2015-01-23 19:31] Wild1145 commented on #13
@CameronRedmore Hmmmm... I like the idea of only utilizing the Core Protect API and disabling all of the actual commands, then again that does sound like it will just be a pain...

[2015-01-23 22:08] Wild1145 opened #34 "Switch to ServerUtils"
To keep the plugin dependency low, I want to switch our MySQL and Reflections (See Cleanup Branch) over to the ServerUtils plugin that is maintained within this organization. It just means we can start cutting down the amount of stuff we have to build directly in to the plugin.

[2015-01-24 01:11] Hockeyfan360 commented on #8
I have this covered. I have started this, and I am almost done. Do not commit please.

[2015-01-24 01:12] Wild1145 commented on #33
Upon a deeper investigation, there appears to be dependencies within the dependencies... Thats why this is causing problems... There will be no easy way to do this without building about 20 different dependencies into one plugin, and thats going to get messy as I just tried...

[2015-01-24 02:54] Hockeyfan360 opened #35 "Did you test the listeners?"
Did you test to make sure that the listeners register? @Wild1145

(I am asking because they did not work when I tried to implement the devmode. Other things were not registering either, and so that is why I posted)

[2015-01-24 08:43] Fyrsta commented on #33
I'll try building it with maven and give you a jar with all of the required dependencies.

[2015-01-24 15:30] Wild1145 commented on #35
I didnt have a chance to test them, all I did was revert to the way it used to operate. The listeners should be working just fine though.

[2015-01-24 18:47] Hockeyfan360 commented on #35
They do not work. I compiled it, and did not edit anything. I suggest we go back to manually registering them, until we can find a solution.

[2015-01-24 19:15] Wild1145 commented on #35
We are manually registering the listeners. I will check in to why it is not working shortly to find out what is going on.

[2015-01-24 19:24] Hockeyfan360 commented on #35
@Wild1145 I mean like this in the onEnable()

pm.registerEvents(new Class(), this);

[2015-01-24 19:44] Wild1145 commented on #35
@Hockeyfan360 That _should_ be happening. As I said, I will double check shortly because I thought I reverted from Reflections.

[2015-01-24 20:19] #35 closed

[2015-01-24 21:39] #8 closed

[2015-01-25 02:23] Hockeyfan360 commented on #15
We could do a points system. After spending so many points, we could do something like FOP, where you can choose a class and a spell, or get some other fun kind of tool.

[2015-01-31 16:39] Wild1145 opened #36 "Custom Ping Message"
Just like we have a custom MOTD, it would be great to make something cool happen when you hover over the ping, Spigot already shows players, and vanilla shows the ping time, but this would be quite cool and useful!

[2015-02-07 04:52] Hockeyfan360 commented on #30
We could make a class that we use to register the commands. For example, we make all command booleans static. Then, we make a command handler class, with all of the booleans inside. Then, in the main class, we put the command handler boolean in. If you need clarification, contact.

[2015-02-09 09:58] Wild1145 opened #37 "Switch to JDB Lib"
As requested, we shall switch to JDBLib at some point.

[2015-02-09 10:02] Fyrsta commented on #37
Yes, JDBLib is a good idea. The use of prepared statements will improve the security of the server.

[2015-02-11 18:39] Wild1145 opened #38 "Migrate TFM Commands"
I would like to migrate as many TFM Commands as possible into this plugin. This is to eventually remove our dependency on the TFM plugin for good.

[2015-02-13 09:34] Wild1145 opened #39 "Implment GeoIP Tracing"
Like with DCMod and DCAuto Location it would be good to add IP tracing built into the plugin. This would remove the need for Essentials GeoIP and could possibly be handy for admins online.

[2015-02-16 19:08] Hockeyfan360 commented on #39
Just curious, why would this be helpful? For helping understand how to talk to foreign players?

How do you plan to implement this?

[2015-02-16 19:12] Hockeyfan360 commented on #38
Would we be using TFM as a library to start this than?

[2015-02-16 20:02] Wild1145 commented on #39
It would just show when you login "Wild1145 is from United Kingdom" or whatever. Nothing anymore complex than that for now.

[2015-02-16 20:03] Wild1145 commented on #38
I believe it is a required library at the moment yes.

[2015-02-17 12:26] Hockeyfan360 commented on #39
I meant "how do you plan to actually get their location."

[2015-02-17 18:50] Wild1145 commented on #39
Oh. By getting their IP and sending it to the MaxMind GEOIP Database. It will then return a country.

[2015-02-18 20:20] Wild1145 opened #40 "Extensive Documentation"
I would like extensive documentation regarding all the functionality of this plugin, including both Javadocs and full written documents to explain features and functionality, to make it easier for others to work with in the future, if they should so decide.

[2015-02-23 23:06] Wild1145 opened #41 "Migrate Admin Managment"
To avoid using TFM where possible, Im thinking we migrate the TFM admin setup directly to here, and just modify TFM to use this plugins system, that way we can use MySQL and do this properly.

[2015-02-23 23:13] #33 closed

[2015-02-25 16:24] Wild1145 commented on #34
Server Utils have been discontinued. This issue is now invalid.

[2015-02-25 16:24] #34 closed

[2015-02-25 20:03] Wild1145 opened #42 "Add a Readme"
For some reason I have yet to write a readme, this needs to be done...

[2015-02-26 10:48] #2 closed

[2015-02-27 16:46] Wild1145 opened #43 "Cooldown System"
Something I saw on the TF forums, and I think would work quite well, especially when the server is really busy, is a "cooldown" system, where you can only talk / execute commands every X seconds (Between 1 and 4 maybe?) defined by the admin. You can also decide to toggle just chat cooldown, just commands cooldown or both, and then for the amount of time.

Its something that would make the server a

[2015-02-27 16:49] Kent55 commented on #43
So like a throttle delay? Good idea, especially if you want performance to be at its best even at busy times.

[2015-02-27 17:41] Fyrsta commented on #25
I don't see that this needs to be further discussed.

[2015-02-27 17:41] Fyrsta commented on #26
Sounds like a good idea and you've come up with the best solution for it already.

[2015-02-27 17:43] Fyrsta commented on #29
A really evil system for this would be to invert the controls for the player, so if they try to move forwards, they'll move backwards, if the try to move to the left, they'll move to the right, etc. Also making them move randomly would be cool as well.

[2015-02-27 17:44] Fyrsta commented on #32
This would simplify command permission checking, but you'd be more restricted.

[2015-02-27 17:45] Fyrsta commented on #36
This would be more annoying than useful. Having it show online players is really useful. Anything else would be annoying. Perhaps link it in to #25.

[2015-02-27 17:45] Fyrsta commented on #37
I don't think anything else needs to be discussed here.

[2015-02-27 17:46] Fyrsta commented on #38
Eh, this would probably end up not being worthwhile. Your call though.

[2015-02-27 17:46] Fyrsta commented on #39
Good idea.

[2015-02-27 17:47] Fyrsta commented on #41
Good idea.

[2015-02-27 17:47] Fyrsta commented on #43
I'm mostly against this idea. Players will get annoyed really quickly when this is enabled.

[2015-02-27 18:54] Wild1145 commented on #25
Valid Point. Label Removed.

[2015-02-27 18:56] Wild1145 commented on #32
I did have a slightly different idea, though I'm not sure if I like it. Its based off of the Minebattle way of it. When you join the server, if you run /reqsa it will check the database, and if your credentials match, if will authorise you admin. Its how MB grant OP access for administrators, but Im in two minds as to how well (if at all) we could use it here.

[2015-02-27 18:57] Wild1145 commented on #36
After trying it on DC, we found that as well. We will probably stick to just the actual MOTD part being customized and auto updating, rather than the ping message. This will also need to go into a separate bungee based plugin due to the way that bungee and bukkit handle plugins differently.

[2015-02-27 18:57] #36 closed

[2015-02-27 18:58] Wild1145 commented on #37
@WickedGamingUK I'd like to get input from @CameronRedmore and @Hockeyfan360 as they would be the main ones to be using JDBLib over the current Husky system.

[2015-02-27 18:58] Wild1145 commented on #38
@WickedGamingUK It would just remove the dependency on TFM and allow us not to have to follow their changes where we dont want to, without extensive customization of the TFM Plugin.

[2015-02-27 19:00] Wild1145 commented on #43
The other option, is to make the servers a lot smaller, so chat does not get flooded as easily, but I'd still be inclined to do it with commands. I just want the admins to be able to slow down the pace of the chat if the server had 40 players being very talkative, so it is possible to follow the chat, even if its a 1 or 2 second delay on chat, though as I say, more smaller servers also could achie

[2015-02-27 20:27] JeromSar commented on #26
Why not implement this in TFM?

[2015-02-27 21:03] Wild1145 commented on #26
@JeromSar Because long term I have no intention to stick with TFM. The long term goal is to migrate the functionality to this plugin where we can make it work better for a bungee setup, where TFM only really works for one server.

[2015-02-27 21:07] Hockeyfan360 commented on #43
We could create a listener, so that whenever a non-admin talks, they get added to a list of players on cool-down. After, a runnable is initiated for that player, and it removes them after a certain amount of time. Make sense?

[2015-02-28 22:41] Wild1145 opened #44 "Migrate Banning Systems"
I would like to handle the global banning of players, potentially through Icarus, but possibly through a separate bungee plugin, im not too sure yet.

[2015-03-01 01:01] Hockeyfan360 opened #45 "/prefs Command"
This could be useful for admins, or enhance other players' experiences.

If they wanted to disable pvp, they could use /prefs pvp. This would prevent others from pvping them, and prevent them from pvping as well. We could do a /prefs nobreak, to prevent them from breaking blocks. (useful if trying to hit a player with bare hand/etc)

Do you like his idea? Changes to this?

[2015-03-01 01:14] Hockeyfan360 commented on #17
Is this server going to be 1.8 only? If so, I could do this.

[2015-03-01 01:22] Hockeyfan360 commented on #17
@Wild1145 I can do this. Please call me via skype when you have the chance. I need to discuss something with you before I can start.

[2015-03-01 15:16] Wild1145 commented on #39
I need to get this working within DCMod before I even attempt it here.

[2015-03-01 15:23] Wild1145 commented on #41
Bumped up to the 1.0 Release.

[2015-03-01 15:23] Wild1145 commented on #39
Bumped back to the 1.1 Release

[2015-03-01 16:22] #14 closed

[2015-03-02 12:48] Hockeyfan360 commented on #44
How would we run code on all of the servers? (Unless you were planning to add them to a config)

[2015-03-02 16:42] Wild1145 commented on #44
MySQL, so when your banned it saves to MySQL, when un-banned removed from MySQL. On player login it checkes the DB. Im thinking Bungee plugin anyway and banning from the bungee its self...

[2015-03-02 21:14] Hockeyfan360 commented on #23
If I find time today, I will do it. Would you like this to work in commands, or just chat, or both?

[2015-03-02 21:21] Wild1145 commented on #23
Ideally both, but chat more than anything

[2015-03-06 10:12] Wild1145 opened #48 "Migrate Smite command"
Due to the main TFM's reluctance to make the messages less gender specific, I want it re-created in here because I dont agree with being gender specific.

[2015-03-10 20:22] Wild1145 opened #50 "Name History"
As with DCMod I'd like admins to be able to see a players previous name(s) based on either their username at the time, or their UUID. This should also happen UUID based on login and display in gray to the admins.

[2015-03-11 22:24] Wild1145 opened #51 "Migrate Nickname handling"
To give us more control over how we work nicknames into the server, I would like to migrate this from Essentials and have it handled internally, stored within the player data.

[2015-03-11 22:25] Wild1145 opened #52 "Migrate Denick"
Part of #38  - Requires #51

This would migrate the denick system, but instead of just removing the nicknames for online players, should do a complete wipe (Possibly for seniors if they add -a at the end?)

[2015-03-11 22:28] Wild1145 opened #53 "Migrate Adminmode"
I would like to migrate the adminmode, but have it probably something more controlled by a panel, so we can bring servers online and offline from a central panel far easier than going into each server and running a command.

[2015-03-12 00:39] Hockeyfan360 commented on #53
I can add the admin-mode feature in. I won't really be doing the panel support until we can get started on the panel itself.

[2015-03-15 21:32] CameronRedmore commented on #41
Half done already, just need some way to add people to admin (I'll get on that tomorrow)

[2015-03-15 21:36] Wild1145 commented on #41
Im thinking stick with /saconfig as a command name, because everyone knows it...

[2015-03-15 21:37] #19 closed

[2015-03-15 21:37] #23 closed

[2015-03-15 21:38] CameronRedmore commented on #19
./setlogin

[2015-03-16 11:01] CameronRedmore commented on #52
I can do this once I've made custom nick handling :smiley:!

[2015-03-16 13:05] Wild1145 commented on #37
Bumped to the 1.0 Release

[2015-03-16 13:06] Wild1145 commented on #25
Re-adding the further discussion.

I think we may well want to run this as a Bungee plugin instead of part of Icarus its self.

[2015-03-16 13:07] Fyrsta commented on #37
Good, this will greatly improve the plugin and it will speed up future development.

[2015-03-16 19:12] #24 closed

[2015-03-16 19:12] #51 closed

[2015-03-16 20:27] #41 closed

[2015-03-16 20:35] CameronRedmore commented on #25
Running this as a bungee plugin would probably be massively easier than trying to make some sort of cross server shenanigans with MySQL and checking for logins on other servers and lord I don't even want to think about trying that...

[2015-03-16 23:31] CameronRedmore opened #54 "Imposters"
Admin system needs imposters adding, shouldn't be too hard to make, a quick check in the login listener should suffice.

[2015-03-18 14:15] Wild1145 opened #55 "Evil cage command"
We need an evil cage command to have fun with players

[2015-03-19 00:19] Wild1145 opened #56 "Command Blocking"
Command blocking will be quite handy. This will obviously need to be stored in MySQL, but its just something I thought of.

[2015-03-20 11:58] CameronRedmore commented on #56
Easy as pie, completing now :)

[2015-03-21 19:52] Wild1145 opened #57 "Online Time Logging"
I think we should log how long a player has been online (Since joining) per session. This way if the server is full and an admin joins, the server then searches for the "oldest" player, and kicks them instead of picking some poor sod out at random.

We could potentially link this into the online time logging program if needed or just build our own light weight system.

[2015-03-21 22:27] Hockeyfan360 commented on #55
Freeze them, play spooky noises, and have them die at random intervals?

And for the cage, maybe obsidian with slots so that people can get to him to pvp.

[2015-03-21 23:02] #3 closed

[2015-03-21 23:08] #4 closed

[2015-03-22 00:15] Wild1145 commented on #55
@Hockeyfan360 Liking the sound of that.

[2015-03-22 00:29] Wild1145 commented on #25
Please See https://github.com/Superior-Development/PegasusMod/issues/2

[2015-03-27 10:10] #25 closed

[2015-04-04 15:31] GotNoFriends commented on #57
Essentials has a AFK kick thing.

[2015-04-04 16:55] Wild1145 opened #58 "Nyan Plugin"
Need the nyan plugin intergration with Icarus.

[2015-04-04 21:57] Wild1145 opened #59 "Migrate Whitelist Handling"
TFM's whitelist system is broken, and because we need it here anyway I think we're better off working on it for the 1.0 release rather than fixing another plugin.

[2015-04-05 20:38] Wild1145 opened #60 "Migrate Freeze System"
Migrating the freeze system (And to save it globally) would be quite good. Then have a system to automatically remove individual players freezes a set time after the freeze was started. This should all be stored in MySQL.

[2015-04-06 12:44] Wild1145 opened #61 "MySQL Failing to enable"
MySQL is failing to read the password in the config.yml and as such will not actually start up. Error is as follows:

[14:44:10 INFO]: [IcarusMod] Enabling IcarusMod v0.7
[14:44:10 ERROR]: [IcarusMod] Could not connect to MySQL server! because: Access denied for user ''@'localhost' (using password: NO)
[14:44:10 ERROR]: Error occurred while enabling IcarusMod v0.7 (Is it up to date?)
java.lang.Nul

[2015-04-06 12:51] Wild1145 commented on #61
Just done some looking, and it appears that its completely ignoring the config.yml file... So Thats why this isnt working. @CameronRedmore

[2015-04-06 13:03] Wild1145 opened #62 "MySQL Error"
Not sure what this one is ( @CameronRedmore  @WickedGamingUK )

[15:03:02 INFO]: [IcarusMod] Enabling IcarusMod v0.7
[15:03:02 ERROR]: [IcarusMod] Could not connect to MySQL server! because: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
[15:03:02 ERROR]: Error occurred while enabling Ica

[2015-04-06 13:03] #61 closed

[2015-04-06 13:07] Wild1145 opened #63 "Move the admin world toggle out of the config"
The only thing that I would like to be in the config really is the MySQL Details. Everything else really should be in MySQL.

[2015-04-06 13:23] Wild1145 opened #64 "Add a premium Rank"
A premium rank is something I would like to add so that we can easily work with some of my ideas in the future for this!

[2015-04-07 13:17] Wild1145 opened #65 "Addition of a /reqop command"
Like on Minebattle I think we should have a /reqop command. This will then check if you've just been removed from operator status on any server (For worldedit restrictions for example) or if you are an imposer. If you are neither of these it will grant you operator status.

[2015-04-08 13:12] Wild1145 opened #66 "Mob Management"
We need to ensure that only a small amount of mobs can be spawned, ideally by players, but each player has a "Limit" and when that player leaves, those mobs are destroyed. No idea how we can implement this, but it would be great if we could!

[2015-04-10 22:28] Hockeyfan360 commented on #66
Maybe we could set their name.

However, I don't think that this is a good idea, because they could exploit it with dispensers. If we disabled mob spawning via dispenser, that would be taking away a huge feature.

It would probably be more ideal to create a world mob-spawn limit, and just purge them every so often.

[2015-04-10 22:34] Wild1145 commented on #66
@Hockeyfan360 Thats the other option, but the idea of a personal player limit would be the most ideal if it were to be possible, I dont know as I've never even attempted it before.

[2015-04-20 13:02] CameronRedmore commented on #66
I believe it would be possible by perhaps making some sort of hashmap where a mob's UUID is stored along with the player who spawned said mob, if the player leaves, the plugin iterates through the hashmap and for all UUIDs which where created by the leaving player, find them in the server and eject them, I'm not sure but I'm giving a possible solution, dispensers and /mob etc. would be harder to d

[2015-04-25 13:50] Wild1145 commented on #62
@Superior-Development/superior-freedom-network-pull-push

[2015-04-25 15:00] Fyrsta commented on #62
See http://stackoverflow.com/questions/2121829/com-mysql-jdbc-exceptions-jdbc4-communicationsexceptioncommunications-link-fail

[2015-05-09 19:33] #26 closed

[2015-05-09 19:33] #56 closed

[2015-05-09 19:33] #62 closed

[2015-05-09 21:02] #44 closed

[2015-05-10 00:20] Scuph opened #67 "Question"
Dependencies?, I plan on using this plugin, and since it is so much different

I think I need them.

@Wild1145

[2015-05-10 00:27] Wild1145 commented on #67
At the current stage of development you require TFM, Craftbukkit and reflections. This will change as development continues.

[2015-05-10 00:27] #67 closed

[2015-05-10 00:37] Scuph opened #69 "Errors and Question #2"
You have two errors in your mod so far, and it has to do with isSuperAdmin actually not existing in the AdminList file within TFM, I'm not sure if that's because of me possible having an outdated tfm.

http://gyazo.com/5c92a61b93629df4e44a5c092e99900a
http://gyazo.com/340b2787f06e00461886b2fdd6ef7620

And where is the download for reflections located?

@Wild1145

[2015-05-10 00:51] Scuph opened #70 "Nothing works"
Nothing :D

[2015-05-10 12:11] Wild1145 commented on #69
There are no errors on my end, and we are running one of the latest TFM builds. Are you sure you have imported it correctly?

[2015-05-10 12:11] Wild1145 commented on #70
If you're going to be helpful, you need to be more specific than that...

[2015-05-10 12:41] Wild1145 opened #71 "Table Generation Not Working"
[14:41:54] [Server thread/INFO]: [IcarusMod] Enabling IcarusMod v0.7
[14:41:54] [Server thread/ERROR]: [IcarusMod] Could not connect to MySQL server! because: Cannot load connection class because of underlying exception: 'java.lang.NumberFormatException: For input string: "null"'.
[14:41:54] [Server thread/ERROR]: Error occurred while enabling IcarusMod v0.7 (Is it up to date?)
java.lang.NullPoint

[2015-05-10 13:01] Wild1145 commented on #71
It would appear that the reasons for this error is that the config options for the MySQL Database details are being removed on a reload, meaning the plugin has nothing to connect to.

[2015-05-10 13:53] CameronRedmore commented on #71
Fixed in the latest push.

[2015-05-10 13:53] #71 closed

[2015-05-10 13:54] CameronRedmore commented on #69
Fixed in the latest push.

[2015-05-10 13:54] #69 closed

[2015-05-10 14:22] #42 closed

[2015-05-10 14:53] CameronRedmore commented on #59
Added in latest commit.

[2015-05-10 14:53] #59 closed

[2015-05-10 15:38] #54 closed

[2015-05-10 23:43] mgejay commented on #70
I downloaded the release and compiled the mod, both jars commands did not work, nothing works in this plugin, review your problems.

[2015-05-11 06:19] CameronRedmore commented on #70
Well that's funny considering everything works on mine and I believe wild's end, you do realise you need to set up a MySQL server for the plugin to work right?

[2015-05-11 11:26] mgejay commented on #70
@CameronRedmore Yes, I have an SQL database setup and I'm saying When I put all the required jars into the plugin folder with icarus, nothing works.

[2015-05-11 12:17] Wild1145 commented on #70
Then show us some errors please.

[2015-05-14 11:40] Wild1145 opened #72 "Imposter Problems"
[13:41:20 INFO]: Wild1145 issued server command: /p
[13:41:20 ERROR]: Could not pass event PlayerCommandPreprocessEvent to IcarusMod v1.0
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[spigotserver.jar:git-Spigot-b8f6402-a646500]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigots

[2015-05-14 11:40] #70 closed

[2015-05-16 21:17] Wild1145 commented on #72
Fixed when the tables were dropped and re-created.

[2015-05-16 21:17] #72 closed

[2015-05-16 21:24] Wild1145 opened #73 "Improve on the banning screen"
We are lacking a lot of formatting in a lot of places, the banning screen is one of them:

https://pravi.us/Pjz

[2015-05-16 21:24] Wild1145 opened #74 "Login Message formatting"
Improving on the login message formatting would be quite good! https://pravi.us/w3A

[2015-05-16 21:25] Wild1145 opened #75 "Login Issue"
[23:26:11 ERROR]: Could not pass event PlayerLoginEvent to IcarusMod v1.0
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[spigotserver.jar:git-Spigot-b8f6402-a646500]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigotserver.jar:git-Spigot-b8f6402-a646500]
        at org.bukkit.plug

[2015-05-16 21:26] Wild1145 opened #76 "Sentence Corrections"
We need to correct the "removing" part

https://pravi.us/jON

[2015-05-16 21:27] Wild1145 opened #77 "Command Blocking"
This is something that is not yet enabled, and we need to build in as a matter of urgency.

[2015-05-16 21:29] Wild1145 opened #78 "Prefix Formatting"
Some work needs to be done to improve the prefix formatting.

https://pravi.us/taX

[2015-05-16 21:30] Wild1145 opened #79 "God mode broken"
https://pravi.us/SCd

Simple as that.

[2015-05-16 21:32] Wild1145 commented on #77
I have found how this works, however it needs to be modified to cancel the command its self before its ran.

[2015-05-16 21:32] Wild1145 commented on #77
We also need to make it find and block aliases of the commands that are blocked

[2015-05-16 21:37] Wild1145 commented on #77
The issue of it not blocking quick enough only appears to be the case for /reload other commands appear to block just fine.

[2015-05-16 21:38] Wild1145 opened #80 "Blocking sub-commands"
Blocking sub-commands is going to be quite useful in the future and will avoid us needing to create our own versions otherwise.

[2015-05-16 21:53] Wild1145 opened #81 "Imposter verification a bit broken"
https://pravi.us/yfM

Means its a little broken...

[2015-05-16 22:14] Wild1145 opened #82 "Tab Colours"
We need tab Colours. That is all.

[2015-05-16 22:45] Wild1145 opened #83 "Problems with Dev's and Managers"
https://pravi.us/c1S

Need I say more.

[2015-05-16 22:47] Wild1145 opened #84 "Adding yourself to admin........"
https://pravi.us/wCo

Wut...

[2015-05-16 22:53] LegendIsAwesomes commented on #84
Ye, I wasnt abusing JUST TESTING.

[2015-05-16 22:54] Wild1145 commented on #84
@LegendIsAwesomes Not to worry, its a BETA test :) Would rather know now than not :)

[2015-05-16 22:56] Wild1145 commented on #32
@CameronRedmore has created his own command processing system we will be using.

[2015-05-16 22:56] #32 closed

[2015-05-16 22:57] Wild1145 opened #85 "TNT & Similar Blocking"
Currently there are no restrictions on blocking items from being used. This needs to be added especially for explosions, lava flow and similar.

[2015-05-16 22:59] Wild1145 opened #86 "Op & Non-Op Ranks"
We need to have a non-op rank for those that have been de-opped for what ever reason.

We then need the server to op you on the local server if you are OP in the global database on login.

[2015-05-16 23:03] GotNoFriends commented on #85
I'll do this -General

[2015-05-16 23:03] Wild1145 opened #87 "Weather and Time"
Time should always be day, weather always sunny.

[2015-05-16 23:07] Wild1145 commented on #18
This will be raised as a new issue to add a MySQL based announcer.

[2015-05-16 23:07] #18 closed

[2015-05-16 23:35] Wild1145 commented on #77
This has been resolved, looks to have been a one off bug.

[2015-05-16 23:35] #77 closed

[2015-05-16 23:36] Wild1145 opened #89 "opall command"
We need a way to add all online players to operator status if they are not currently an OP.

[2015-05-16 23:45] Wild1145 opened #91 "Rawsay type command"
Something to use from console as a server wide raw text system could be handy.

[2015-05-16 23:47] GotNoFriends commented on #91
I'll do this in the morning.

[2015-05-16 23:51] GotNoFriends opened #92 "gcmd"
I will be doing this tomorrow

[2015-05-16 23:58] GotNoFriends commented on #89
I can do this in the morning.

[2015-05-17 00:14] Wild1145 opened #93 "Migrate all commands to the new command processor"
Commands need to be migrated onto the new system to handle commands.

[2015-05-17 00:17] GotNoFriends commented on #93
Camzies one?

[2015-05-17 00:17] Wild1145 commented on #93
Yeah.

[2015-05-17 00:19] GotNoFriends commented on #93
Let's leave that to camzie then

[2015-05-17 01:15] Wild1145 opened #96 "Spam Protection"
Currently there is no command or chat spam protection. This needs to be added.

[2015-05-17 01:22] Wild1145 opened #97 "No way to remove your custom login title"
Currently once you have it, your stuck with it and requires DB Removal.

[2015-05-17 01:23] Wild1145 opened #98 "UUID's?"
I have just noticed that we are not using UUID's in the player database... This could be problematic...

[2015-05-17 08:39] mgejay commented on #98
Is this set as a High Priority @Wild1145? If not, it should be.

[2015-05-17 08:40] mgejay commented on #96
Clearchat?

[2015-05-17 08:42] Scuph commented on #82
Colors*

[2015-05-17 08:42] mgejay commented on #74
Colors

sparkly :)

[2015-05-17 08:44] mgejay commented on #81
I dont see the bug - explain?

[2015-05-17 08:45] Scuph opened #103 "Cooldowns"
Let's tackle this issue before it begins in the first public release of Superior Freedom or whatever you plan on calling it.

Command cooldowns, prevents multiple smites and mutes, etc.

This would most likely be done with HashMap

[2015-05-17 12:26] GotNoFriends commented on #103
1.3 release.

[2015-05-17 13:19] Wild1145 commented on #103
Duplicate of #43

[2015-05-17 13:19] #103 closed

[2015-05-17 13:20] Wild1145 commented on #98
@Scuph It is as you can see in the labels.

[2015-05-17 13:20] Wild1145 commented on #96
Dont like chat clearing, just stopping it before it happens.

[2015-05-17 13:21] Wild1145 commented on #81
It adds you to Super admin regardless of your rank.

[2015-05-17 13:25] GotNoFriends commented on #91
https://github.com/Superior-Development/IcarusMod/pull/105

[2015-05-17 13:25] GotNoFriends commented on #92
#105

[2015-05-17 14:30] Hockeyfan360 commented on #98
I could work on this. I might need someone to proofread me. This would also mean we need to wipe the database. If you would like to assign me, do so.

[2015-05-17 14:40] Wild1145 commented on #98
@Hockeyfan360 I was going to leave it for @CameronRedmore as he did the rest of the system.

[2015-05-17 16:22] Hockeyfan360 opened #108 "Override SQL Requirement Command"
You are probably asking why this would be useful. For people that do not own and do not want to purchase/set up an SQL server, this might be useful. It would disable the check when the plugin enables, for SQL. This would make it easier to test development on a local computer (if you don't own an SQL server)

In other words, you can disable this:

"[IcarusMod] Hostname is null in the config....]

[2015-05-17 16:45] Wild1145 commented on #108
The entire plugin is designed to be multi-server and depends on a database. Removing the DB checks would be of huge problems. Not to mention you can get a Free MySQL Database if you really wanted too anyway.

[2015-05-17 16:47] Hockeyfan360 commented on #108
This isn't for the actual server, it would be for testing purposes. (Such as testing new commands/modules that do not require sql.)

[2015-05-17 16:49] Wild1145 commented on #108
It should run anyway, the plugin wont disable. Its just that nearly everything depends on the MySQL intentionally.

[2015-05-17 17:03] Hockeyfan360 commented on #108
Username is null in the config, please stop the server, ammend the fault and then restart. IcarusMod will not load until this error is resolved.

After that, it does disable it.

[2015-05-17 18:14] Wild1145 commented on #108
Hmmm, it never used to disable it. Perhaps we add a Debug / similar mode that when enabled just runs as usual then?

[2015-05-17 18:22] xDestroyer217 opened #109 "Creation of the /say command"
#102

[2015-05-17 18:42] zD12 opened #112 "Add CommandSpy"
Hi there,
You should add '/cmdspy', shows all commands- excluding commands that are used for private messaging, such as, '/tell', '/msg', '/r', '/mail', and so forth.

[2015-05-17 18:45] Wild1145 commented on #112
Command spy is automatically enabled for all online admins and should not be able to be disabled to my knowledge to give admins full overview of the server.

[2015-05-17 18:47] zD12 commented on #112
Oh, on that note.  There isn't any need for the issue.

[2015-05-17 18:47] #112 closed

[2015-05-17 18:50] Hockeyfan360 commented on #108
Should we just add a boolean for developers in the code, that acts as the debug switch?

(Also, incase you were un-aware, bukkit does not disable it automatically. The plugin has a line written to disable itself, which I find very useless.)

[2015-05-17 19:02] Hockeyfan360 commented on #96
We can check the last message of the player like TFM.

[2015-05-17 19:07] Wild1145 commented on #108
I was just going to chuck something in the config.yml so if its true it will just skip past that part of the load code.

[2015-05-17 20:08] Wild1145 opened #114 "Serious issues with the weather addition"
Some how this live version ended up on the beta testing server, but its causing problems.

Error log at http://pastebin.com/RaKnTbXB

[2015-05-17 21:27] Hockeyfan360 commented on #114
I swear to god, this did not happen on my private test server.

[2015-05-17 21:45] Hockeyfan360 commented on #114
@Wild1145 When did this trigger? Was it on plugin start, was it when the weather changed?

[2015-05-17 21:46] Wild1145 commented on #30
The new objective will be to migrate onto @CameronRedmore's custom command handling system for the 1.1 release.

[2015-05-17 21:54] Wild1145 opened #116 "Nickname command"
Currently the only way to edit nicknames is directly through the database. We need a command to handle this.

[2015-05-17 21:55] Wild1145 opened #117 "Tag Command"
Currently the only way to change a tag is through the Database its self, we need a command for players to use.

[2015-05-17 22:17] Hockeyfan360 commented on #17
This will need to be on hold until I can get my hands on an updated version of spigot.

[2015-05-17 22:22] Hockeyfan360 commented on #79
I think that this is the problem:

http://imgur.com/lHhW3bb

if (!ICM_SqlHandler.hasDoomHammer(player.getName()))
            {
                playerMsg(sender, "&aEnabled god mode.");
                Connection c = ICM_SqlHandler.getConnection();
                PreparedStatement statement = c.prepareStatement("UPDATE `players` SET `godMode` = FALSE WHERE `playerName` = ?");
                stat

[2015-05-18 04:01] mgejay commented on #116
Try using @ImALuckyGuy's

[2015-05-18 18:35] 67 commented on #116
He doesn't run Essentials or TFM so my nicking command wouldn't work properly here.

[2015-05-18 18:47] mgejay commented on #116
@ImALuckyGuy He will be running essentials soon.

[2015-05-18 18:58] Wild1145 commented on #116
While we will be running Essentials, Nicknames and Tags are handled through the central database, meaning the chances are that other systems wont work well if at all with our setup.

[2015-05-21 15:17] CameronRedmore commented on #116
I've already got this planned and I'll be adding nick and tag changing in game as soon as I've finished all of my GCSEs, they're taking up all of my time at the minute so after the 8th of June, I'll be free and I'll start working on this again.

[2015-05-21 15:19] CameronRedmore commented on #114
Dang that's an ugly error log, I'll put it in a pastebin so that it doesn't take up 95% of this page.

[2015-05-21 15:19] CameronRedmore commented on #114
I always click the close button -_-

[2015-05-21 15:21] CameronRedmore commented on #97
Actually setting it to 'default' will set it back to your rank's defined tag.

[2015-05-22 10:35] CameronRedmore commented on #79
This entire thing is just broken, I'll repair it later.

[2015-05-22 23:38] Scuph opened #124 ""Verified Rank""
https://github.com/TotalFreedom/TotalFreedomMod/issues/654
Simple as that

[2015-05-25 12:59] Wild1145 commented on #114
This appears to happen on reload, and is really causing problems now, because its just crashed the dev server...

[2015-05-25 13:38] Wild1145 commented on #114
Due to the crashing the commit has been reverted. This issue has been closed and the initial issue will be re-raised.

[2015-05-25 13:38] #114 closed

[2015-05-25 13:38] Wild1145 commented on #87
Re-Opened to to the original commit being reverted.

[2015-05-25 18:58] Hockeyfan360 commented on #87
Did you find where it went wrong? I had no problems on my test server, and I had it running with myself online for a long while.

[2015-05-25 22:06] Wild1145 commented on #87
It broke every time the plugin was enabled, and caused such a big error that I had to restart the entire machine...

[2015-06-01 13:51] Hockeyfan360 commented on #117
I have been creating my own network lately, that uses SQL. This won't be hard. @Wild1145 What should some restrictions be?

[2015-06-01 13:52] Hockeyfan360 commented on #116
@CameronRedmore When you begin on this, make sure that you block the nick-name CONSOLE, it will give the nick-named player senior admin.

[2015-06-01 16:52] #117 closed

[2015-06-01 23:08] Hockeyfan360 commented on #89
@Wild1145  Should the opall command change everyone in the database's ranking then (non-admins)? Or just everyone online (I would suggest this, to prevent lag, etc)?

[2015-06-02 00:02] #89 closed

[2015-06-02 02:25] #17 closed

[2015-06-02 02:31] Hockeyfan360 commented on #53
@Wild1145 @CameronRedmore  I have learned quite a bit over the course of this week about SQL. I suggest that we create another table called `settings`. We can add a security level (double, or possibly an int), 0 being normal security, 1 being onlinemode, 2 being lockdown, 3 being adminmode, 4 being developer/manager mode.

We can set a bukkit runnable to check for these settings in the database. W

[2015-06-02 02:54] Hockeyfan360 commented on #83
From what I see, your playerdata was null in the database. It works fine on my local server.

[2015-06-02 08:10] Wild1145 commented on #83
This is to super an imposter... I was in the database because I was manager before that. All I did was change the IP logged in the DB

[2015-06-02 12:47] Hockeyfan360 opened #129 "Suspensions/Adding Players To SAConfig"
http://gyazo.com/8f4a8fd6484806e84345bc998cd77ad8 - That is when you remove a player.

http://gyazo.com/5e88bfcd3bbd5365175c99a9c996603d - That is when you add a player.

Currently, there is no way to recover your lost rank after being removed, other than manually entering it into the database. It may be a good idea to add a suspended column in the `players` table.

[2015-06-02 16:26] Wild1145 commented on #129
Really the best way to handle this would be to move the ranks out of the players table and into their own table. Then have the player name, UUID, Rank, Last login and if they are enabled (TRUE/FALSE). This way the players table is cleaner and all ranks are handled in their own area.

[2015-06-02 18:30] Hockeyfan360 commented on #129
Camzie and myself could work on this then. It would take quite a while.

[2015-06-03 03:11] Hockeyfan360 opened #130 "No Adminworld"
Currently, we have an admin-world toggle system done, but we have no admin-world/admin-world command set up.

[2015-06-03 15:41] CameronRedmore commented on #130
I'll handle this, I've got code ready to use, with guest system and everything :D

[2015-06-03 15:55] Wild1145 commented on #130
I am kinda thinking we just have a separate server for admins to use within the bungee network. That way they have more freedom and are completely isolated? Opinions @Superior-Development/superior-freedom-network-pull-push

[2015-06-04 15:45] Hockeyfan360 commented on #130
I do like that idea. It would provoke some immaturity, so we may need to create a few guidelines to go along with it.

[2015-06-04 21:48] CameronRedmore commented on #83
Yeah, I kind of threw the imposter system together in a couple of minutes and I didn't really check it through properly :/ I'll fix this.

[2015-06-04 21:49] CameronRedmore commented on #129
Ooh, I like that idea, could be complex to make, but I shouldn't have too much trouble, I'm kind of excited to start work on this one!

[2015-06-04 21:52] CameronRedmore commented on #108
ah, I threw those automatic disablers in there so that people running it for the first time wouldn't think the plugin is just botched. If you just throw any random details in the config it should still load but I don't think many features will work correctly.

[2015-06-04 22:02] Wild1145 commented on #37
@WickedGamingUK Could you explain what sort of advantage running JDBLib over Husky will actually have? Like is there any sort of advantage to doing this or what?

[2015-06-04 22:03] Wild1145 commented on #129
Conciser the change of the table system along with the suspensions part of the 1.1 release :)

[2015-06-04 22:04] Fyrsta commented on #37
@Wild1145 At the moment, it makes using Prepared Statements a lot easier and nicer, something that's good for security. Over time new things will be added to further better it.

Also, not that it matters for this project, it doesn't need a Minecraft plugin in order to work.

[2015-06-04 22:05] Wild1145 commented on #37
@WickedGamingUK As it stands prepared statements are being used within Husky (Or so @CameronRedmore is telling me) so I cant see a major advantage to re-doing all the SQL... Not sure if thats me missing something or not though?

[2015-06-04 22:06] Wild1145 opened #131 "Multiple IP Handling"
Not sure if we currently support multiple IP's for admins, by the looks of the MySQL Table set-out the answer is no, if that is the case it may be worth supporting more than one somehow...

[2015-06-04 22:08] Fyrsta commented on #37
@Wild1145 So apparently it is. I guess it was changed from the less secure escaping method.

Anyway, this is a far nicer way of using prepared statements, and future additions could become useful.

[2015-06-04 22:08] Wild1145 commented on #124
Assigned to the 1.2 Release.

[2015-06-04 22:09] Wild1145 commented on #37
@WickedGamingUK I just cant see any advantage to doing a re-write of all the SQL at the current time. If the features added at a later date appear to be worthwhile for us to switch to, I think it will be considered then, however until such a time I am closing this issue.

[2015-06-04 22:09] #37 closed

[2015-06-05 03:06] Hockeyfan360 commented on #131
I really don't know how we could do this. I dont know if String[] instead of String would work.

[2015-06-08 12:23] Hockeyfan360 commented on #82
We could also do tab headers/footers. So, for the tab headers, would these colors work:

SA: &bname
STA: &2name
SRA: &dname
Developer: &5name
Manager: &4name

[2015-06-08 12:24] Wild1145 commented on #82
I like that, I heard that they were added but have yet to use them, so if we could do that as well (Pulling the header and footer from MySQL) that would be idea.

[2015-06-08 12:25] Hockeyfan360 commented on #82
Where would we pull it from? A settings table that doesn't exist? I could set that up if you wanted.

[2015-06-08 12:27] Wild1145 opened #132 "MySQL Settings Table"
We need a MySQL based settings table that we can use to store global information, like the Tab headers and footers along with other things in the future.

[2015-06-08 12:28] Wild1145 commented on #82
See #132 that I just opened :)

[2015-06-08 12:28] Hockeyfan360 commented on #132
I will start on this. Cam can make edits if he wishes to do so.

[2015-06-08 12:32] Hockeyfan360 commented on #132
I am thinking we should have a setting name column, and an object column.

We can check for an instance of a boolean, etc, when we need to.

[2015-06-08 12:36] Hockeyfan360 commented on #132
I just realized that we ran into a problem. There is no object format for MYSql. Storing this in a blob would be complicated as well. If we did store this in a blob, it would make settings difficult to handle through the database itself.

I don't want to make it seem like I am slacking off, but the easiest way to do this would be to make multiple columns, one for string, one for an int, one for a

[2015-06-08 13:33] Hockeyfan360 opened #133 "Adminchat Formatting Tags"
In TFM, adminchat works like this:

[ADMIN] name [RANK] : Message

I suggest that inside of the rank enum, we add the [RANK] parameter.

[2015-06-08 13:35] Hockeyfan360 commented on #132
Also, would you like settings to auto update every minute? This would allow for network-wide lockdown, and other similar features.

[2015-06-08 13:37] Wild1145 commented on #132
It should really auto update, im not too sure on how often, but where possible it should be instant (For example with the on chat events with nicknames and such) but every 60 seconds here should be enough.

[2015-06-08 16:43] Hockeyfan360 commented on #132
When it checks via command or manual task, it will check automatically because we are pulling it from the database itself.

[2015-06-08 18:37] mgejay commented on #133
I like it.

[2015-06-08 21:08] Hockeyfan360 opened #134 "Nullpointer in PlayerLoginEvent"
When a player logs in, the system checks to make sure that they are not an admin before kicking them for being banned. Same with whitelist. This throws a nullpointer exception.

I think that this is happening because it is the login event, not join, and because isRankOrHigher() requires a CommandSender (you can use the player type as well). However, I have not actually looked into this much, so I

[2015-06-08 21:25] Hockeyfan360 commented on #132
Okay, I have created a table with basic settings, such as title messages on join, and tab headers/footers. I will create the auto update when I am in a proper testing environment.

For now, since we have no features to add to the settings table, I will probably leave a blank method that is run every update, and inside I will contain a sample of what you should include if you add something to it. T

[2015-06-08 23:49] #73 closed

[2015-06-08 23:49] #132 closed

[2015-06-09 03:30] #134 closed

[2015-06-09 03:32] Hockeyfan360 opened #135 "News"
I recently pushed a settings table to MySQl. I did not include a footer, because I thought we could put news there. Since that is postponed, where else could we use news? Send a chat message when they join? Auto broadcast every 5m or so the news?

[2015-06-09 19:17] Hockeyfan360 commented on #131
The only solution I would have would be creating a table for ips, and we can say banned:true, but it wouldn't be a goos idea to associate them with admins.

[2015-06-10 15:10] Hockeyfan360 commented on #135
@Superior-Development/superior-freedom-network-pull-push Thoughts?

[2015-06-10 15:15] Wild1145 commented on #135
I dont think we _need_ any sort of server side news system, the tab footer would be the best place for it, anything that important would go on the forums...

[2015-06-10 18:01] Scuph commented on #135
@Wild1145 I know this is off-topic, but if you can PM me your skype on the TF forums, I have stuff we should talk about.

[2015-06-10 18:03] mgejay commented on #124
I dont see how hockeys recent commit closes this issue?

[2015-06-10 19:46] Wild1145 commented on #124
I think thats why he re-opened it?

[2015-06-10 19:49] Wild1145 commented on #135
@Scuph Send me an e-mail or something like that, I dont read the TF forums anymore.

[2015-06-10 21:42] mgejay commented on #124
Oh ok @Wild1145 Sorry.

[2015-06-10 22:50] Hockeyfan360 commented on #135
Do you think it would be worth updating every so often?

[2015-06-10 22:53] Hockeyfan360 commented on #124
I had accidentally closed this instead of another.

[2015-06-10 23:09] #133 closed

[2015-06-10 23:18] Hockeyfan360 commented on #97
@Wild1145 Would you like me to add a feature where you can change it from in-game? I do not see one currently.

[2015-06-10 23:34] #97 closed

[2015-06-10 23:34] #109 closed

[2015-06-10 23:37] Wild1145 commented on #135
If its stored in the MySQL Database we can update it manually when it is so needed...

[2015-06-11 00:48] Hockeyfan360 opened #137 "Adminchat"
We need to add this. I like the color scheme that TFM uses.

[2015-06-11 01:05] #48 closed

[2015-06-11 01:15] #79 closed

[2015-06-11 01:30] Hockeyfan360 commented on #75
I fixed this here: https://github.com/Superior-Development/IcarusMod/commit/7457367b45c1f91b629a3bc2d34e4a21983b9c47. Feel free to open this issue again if the problem still persists (if for some reason it does, even though I tested it).

[2015-06-11 01:30] #75 closed

[2015-06-11 19:04] Adaptified opened #138 "Smite reasons"
Very easy, i will do this right now.

[2015-06-14 23:11] Wild1145 commented on #30
I am currently migrating all commands onto the new system.

[2015-06-14 23:21] #30 closed

[2015-06-14 23:55] Wild1145 commented on #82
Going to give this one to @Paul19988 as he should be able to do it :)

[2015-06-15 01:09] mgejay commented on #82
Who is this @Paul19988 @Wild1145?

[2015-06-15 11:09] Fyrsta commented on #82
@Scuph Someone who can code, unlike some people here.

[2015-06-17 17:07] Wild1145 commented on #82
@Paul19988 has implmented the API side of this, I will be implmenting the actual setting of the tab system.

[2015-06-17 17:08] Wild1145 commented on #93
This has been handled in the other issue for migrating off of bukkitlib command systems.

[2015-06-17 17:08] #93 closed

[2015-06-17 17:10] Wild1145 commented on #131
@Superior-Development/superior-freedom-network-pull-push We still have not figured out the final implmentation of this, any suggestions anyone?

[2015-06-17 17:12] Wild1145 commented on #16
Decided against this, I just think its going to get spammy and messy to fast.

[2015-06-17 17:12] #16 closed

[2015-06-17 17:12] Wild1145 commented on #15
@Superior-Development/superior-freedom-network-pull-push Further discussion on this would be handy please :)

[2015-06-17 17:12] Wild1145 commented on #9
@Superior-Development/superior-freedom-network-pull-push Further discussion required please :)

[2015-06-17 17:13] #58 closed

[2015-06-17 17:14] Wild1145 commented on #66
@Superior-Development/superior-freedom-network-pull-push Further discussion needed.

[2015-06-17 18:29] Paul19988 commented on #131
Use an Array in the MySQL table

[2015-06-17 18:34] Wild1145 commented on #45
Going to re-open this as it sounds reasonably interesting.

[2015-06-17 18:54] Wild1145 opened #143 "Clean up modules"
Currently the modules are just a mess... I am going to clean them and organize them the way that I really think they should have been done.

[2015-06-17 18:56] Paul19988 opened #144 "Remove LoginModule as JoinModule does the same thing."

[2015-06-17 18:59] #144 closed

[2015-06-17 20:33] Wild1145 commented on #143
After reviewing them and doing some formatting cleanups, they will stay as they are.

[2015-06-17 20:33] #143 closed

[2015-06-18 02:10] Hockeyfan360 opened #145 "New "API""
I really, really dislike the idea of adding a whole seperate package dedicated to paul, implementing things we have already done. One example are the titles. In the void methods, it asks for the title type. Useless, since it clearly states sendTitle or subtitle. I found that after looking over it for a few seconds. Regardless, I think the package should either be renamed to a sub package of the ot

[2015-06-18 02:13] Hockeyfan360 commented on #145
Preferably, rename it to com.superior-networks.icarusmod.utils, and name classes Title, SQL, etc.

[2015-06-18 02:42] Hockeyfan360 commented on #145
@Superior-Development/superior-freedom-network-pull-push

[2015-06-18 03:09] Hockeyfan360 opened #146 "Un-necessary Param"
In the tabapi, the prefix param is un-necessary. We also don't want [Manager] Wild... In tab, it gets cut off. It would be better to just color their name with the one param. As well as that, the chatcolor param in the titleapi isn't needed. @Paul19988 Take a look at how titles were handled not too long ago.

[2015-06-18 03:12] Hockeyfan360 commented on #31
I will have this toggled off by default.

[2015-06-18 03:27] Hockeyfan360 commented on #82
@WickedGamingUK If you have nothing constructive to offer, then leave. I really don't appreciate such insults.

[2015-06-18 03:55] Hockeyfan360 commented on #66
Maybe on an interact event, if they have interacted (used) a mob egg, the mob's name is that of the player's. This would allow dispenser spawning.

[2015-06-18 04:28] Hockeyfan360 commented on #15
I think that a points system could be really awesome. If they offered all cosmetics, we could use this as a means of donation.

[2015-06-18 04:33] Hockeyfan360 commented on #45
That was probably a fat finger move by me.

[2015-06-18 04:36] Hockeyfan360 commented on #9
Still not interested in a nyan plugin. It caused us to crash a tremendous amount of times. Icm already lags like hell on my pc.

[2015-06-18 04:52] mgejay commented on #76
@Wild1145 the removing line..

[2015-06-18 07:51] Paul19988 commented on #145
The idea of the API is so people can easily find things that they need and those API classes will slowly grow bigger and bigger as they have multiple purposes

[2015-06-18 08:18] Paul19988 opened #147 "Patch - API"
Somebody touched my code before I had the chance to push it to git, then it messed up

[2015-06-18 08:19] #147 closed

[2015-06-18 08:22] Paul19988 commented on #82
Players TAB colors now correspond to their rank, colors are set on player join.

[2015-06-18 08:22] #82 closed

[2015-06-18 08:34] Paul19988 commented on #146
It doesn't get cut off in 1.8 as they fixed that issue, and in my most recent patch which wasn't pushed yet changed prefix to ChatColor.

[2015-06-18 08:35] #146 closed

[2015-06-18 11:05] Wild1145 commented on #145
Depending on exactly how big it gets, one of two things will happen longer term:

1) It remains in IcarusMod and when the API is complete we refractor it to be within the com.superior-networks.icarusmod.whatever package.

2) If it gets bigger we move it out to a separate java project that is built into Icarus as a library on compile of the plugin.

As I say, it would have to depend on exactly how

[2015-06-18 11:07] Wild1145 commented on #31
I had not even thought of having it as a toggle to be honest, but thats probably a better idea.

[2015-06-19 00:08] #76 closed

[2015-06-20 01:09] Hockeyfan360 commented on #91
Console only? Senior from in game seems fine imo

[2015-06-20 19:09] Hockeyfan360 opened #148 "Say/smite cmd"

[2015-06-20 19:10] Hockeyfan360 commented on #148
The say command is actually the smite, you can copy code from a previous commit of mine to create the actual say cmd.

[2015-06-20 21:57] Wild1145 commented on #148
Oh yeah... Not quite sure how that happened...

[2015-06-20 21:58] Wild1145 commented on #148
Found it, you managed to do that in your second commit to the file here: https://github.com/Superior-Development/IcarusMod/commit/32c781ff63c0dfc7772b5eccc55b5c90b21a4527

[2015-06-21 17:28] Hockeyfan360 opened #149 "Must Use Allmans Style For Commits"
@Paul19988 I noticed that your commits are not following that guideline. Let's try to keep it nice and clean.

[2015-06-21 17:34] Hockeyfan360 commented on #148
@Wild1145 I copied the class so I didn't have to do anything but change the annotation (I believe it's called, I just got back from vacation, so my brain is a bit stuffy)

[2015-06-21 18:37] Wild1145 commented on #149
@Hockeyfan360 @Paul19988 The commits should be in Allman Style, though if its not I periodically mass format the code to ensure that it has the correct formatting.

[2015-06-22 16:03] Hockeyfan360 commented on #148
Pushing momentarily...

[2015-06-23 14:31] mgejay commented on #91
Console only would be the best option. @Hockeyfan360

[2015-06-23 21:21] Scuph opened #151 "TitlesAPI"
Something inside this file causes an error in the JoinModule, you are trying to use the chatcolor methon when it is not identified as anything in the sendTitle or sendsubTitle string.

[2015-06-24 14:08] Wild1145 commented on #151
I will take a look shortly and see if I can see any issues.

[2015-06-27 16:24] Paul19988 commented on #151
It's due to the issue of somebody not pulling changes I made

[2015-06-30 15:21] Hockeyfan360 commented on #91
Server, or network wide?

[2015-06-30 20:30] Wild1145 commented on #91
This one would be server wide. Network wide would require this raised in PegasusMod.

[2015-07-01 22:10] Wild1145 commented on #98
Moving to the 1.2 Release for now.

[2015-07-04 20:26] #138 closed

[2015-07-04 21:00] Hockeyfan360 commented on #92
Done.

[2015-07-04 21:00] #92 closed

[2015-07-04 21:20] #91 closed

[2015-07-08 19:49] Hockeyfan360 commented on #63
I am going to take over this issue, as I can effectively implement the auto update/settings pull.
@Wild1145 How often should settings update? every 30 seconds? Every minute? Every 10 seconds? For the best experience, I personally recommend 30 seconds, but it is completely up to you.

[2015-07-08 19:59] Hockeyfan360 opened #153 "Auto Settings Update"
Quite a few questions for @Wild1145 .

We can do this a few ways. We can store values in server memory and update those values every so often. Or, we can pull directly from the database when we need them.

Which would you like me to implement? If the first, how often to update them?

[2015-07-08 22:26] Wild1145 commented on #153
Pull from the dB when it's needed will be better.

[2015-07-16 20:06] #63 closed

[2015-07-16 22:46] #85 closed

[2015-07-31 23:48] Wild1145 commented on #148
@Hockeyfan360 Would you mind taking care of this? I have quite a lot I have to do in other issues now.

[2016-04-03 19:45] Wild1145 opened #154 "Changes to banning"
All banning now needs to define a amount of time that they will be banned for (So you need to add a start ban time and then the end ban time). This should be 24 hours for /ban and /tempban should define this amount of time but should be limited to no more than 24 hours.

[2016-04-03 19:49] #148 closed

[2016-04-03 20:03] mgejay commented on #154
I like this.

[2016-04-03 21:14] #154 closed

[2016-04-03 23:48] Hockeyfan360 commented on #31
@Wild1145 Formatting the messages is something that I'm not sure how I should do. Maybe something along the lines of:

'The player has a ban record on the following services: <services>. Please use /fishbans <player> to learn more.'

[2016-04-04 10:17] Wild1145 commented on #31
@Hockeyfan360 Take a look at how DCMod does it, I think its just a "So and So has X bans on other servers" or something like that. I am however thinking about changing this entire idea, so hold off on working on it for now.

[2016-04-04 10:32] Wild1145 commented on #84
The link has been deleted... Further testing will need to be done then... Irritating.

[2016-04-04 21:33] Wild1145 opened #161 "Banning is broken..."
http://pastebin.com/3jFLJL96

[2016-04-04 21:37] Wild1145 opened #162 "Reporting is a tad broken"
When you try to report a player that is not there the plugin simply returns the parameters.

[code]

[2016-04-04 23:44] mgejay commented on #162
There is never an instance to catch where player == null. After you define the reported player, the if statement needs to come right after that.

Player Reported = getPlayer(args[0])
if (Reported == null) {
sender.sendMessage(ChatColor.RED + "Player not found!");
return true;
}

[2016-04-04 23:52] mgejay commented on #161
Your ban system is outdated. Looks like 1.8

[2016-04-05 00:05] Hockeyfan360 opened #163 "Maven (maybe)"
Do you think that it would be a good idea to move to a maven based project?

[2016-04-05 00:11] Hockeyfan360 commented on #53
@Wild1145 I'm probably going to start on this issue. How would you like this to be controlled? Would you like this to be controlled locally in server memory, or would you like it to be controlled in sql? If we're looking at a panel, sql is probably a better option.

[2016-04-05 00:18] Wild1145 commented on #53
@Hockeyfan360 SQL as part of the settings table would probably be better.

[2016-04-05 00:19] Wild1145 commented on #163
Not really... We do only have one dependency... Don't really see any value to it to be honest

[2016-04-05 00:20] Wild1145 commented on #161
@Adaptified Where are you seeing that?

[2016-04-05 19:11] mgejay commented on #161
@Wild1145 Nevermind, it's an sql error.

[2016-04-06 22:17] Wild1145 opened #166 "Reporting is not really doing what it should be"
Currently if you report a player while the player sees the message, online staff do not.

[2016-04-06 22:25] Wild1145 commented on #166
It appears that sometimes it is displaying the message, but sometimes it does not... Strange shit is happening..

[2016-04-06 22:27] mgejay commented on #166
Line 66 of the command, player should be admin.

[2016-04-06 22:28] TheCJGCJG opened #167 "Logging of Commands, Chat and Server Messages"
Commands and chat as well as server messages should be logged so that web panels (or anything else for that matter) can assemble it's own log file, this will make data much easier to process and analyse after, and will also allow querying of data to allow for the logs to be easily looked over in the future.

It should store;

- Chat Messages
- Player Commands
- Server Messages
- Anything else
- An

[2016-04-06 22:30] mgejay commented on #167
Yes!!

[2016-04-08 21:36] Hockeyfan360 opened #172 "PlayerKickEvent"
In order to prevent handleDisconnection() twice, we need to handle all stuff that disconnects the player on join through PlayerKickEvent. This can be done with the disallow() method. For example, ban handling in JoinModule.java should be moved to a separate event.

[2016-04-08 21:44] #145 closed

[2016-04-08 22:56] #172 closed

[2016-04-09 08:15] Wild1145 commented on #172
@Hockeyfan360 did you mean to close this?

[2016-04-10 23:14] #162 closed

[2016-04-10 23:14] Wild1145 commented on #131
Upon discussion with both TheCJGCJG and Varuct, we have decided not to worry about this, and let the panel handle it.

[2016-04-10 23:14] #131 closed

[2016-04-11 13:32] #166 closed

[2016-04-11 13:33] Wild1145 commented on #81
I am not too sure if this will even be an issue... @thecjgcjg will be managing everything through the panel anyway, so direct modification of the DB is possible to work around this issue...

[2016-04-11 18:17] CameronRedmore commented on #86
Didn't mean to close this, the previous commit does not in fact resolve this.

[2016-04-11 18:32] #86 closed

[2016-04-11 18:53] TheCJGCJG commented on #167
Told to re-open this by @Wild1145

I would also like to request periodic (Maybe 15 secondly? Preferably quite frequent) logging of the following information in various tables
- Server ID (E.G. MainServer_1)
- Server RAM usage
- Server TPS (Ticks per second, or whatever that is)
- Online players (And their ranks + server they are online on)

And any other miscellaneous piece of information that cou

[2016-04-11 19:02] #116 closed

[2016-04-11 19:05] CameronRedmore commented on #163
Hmm, I agree with Wild, whilst this would simplify and expand our library availability I'm not entirely certain it is required. The current ANT build scheme works well enough for our purposes.

[2016-04-11 19:15] Wild1145 commented on #84
Im going to close this, I assume it was an issue with imposters.

[2016-04-11 19:15] Wild1145 commented on #83
I think this is a duplicate of #84

[2016-04-11 19:15] #83 closed

[2016-04-11 19:15] #81 closed

[2016-04-11 19:20] CameronRedmore commented on #167
I'll get this done for you :)

[2016-04-11 20:29] CameronRedmore opened #173 "Logging doesn't work when a connection cannot be established."
If a connection cannot be established with the MySQL server, the server will endlessly loop attempting to log which will in turn throw an error which will then try to log and so on and so forth. This needs fixing, should be a quick fix. http://termbin.com/rki2

I'll get this done tomorrow.

[2016-04-11 20:43] Wild1145 opened #174 "Ranks are no longer working... At all"
Ranks no longer are being responsive from the Database, everything else is, ranks are not.

[2016-04-11 20:45] Wild1145 commented on #174
It now appears that nothing is pulling in real time.

[2016-04-11 20:50] #173 closed

[2016-04-11 20:50] #174 closed

[2016-04-11 21:07] Wild1145 opened #175 "TAB system broken"
For some reason @Paul19988 's tab system is currently not working... Not sure why.

[2016-04-12 06:19] LegendIsAwesomes commented on #84
@Wild1145 at the time of, it was a problem of ops having permission to add themselves to admin status.

[2016-04-12 09:35] CameronRedmore opened #176 "Not generating all the correct tables"
The plugin only appears to generate four of the required tables, I'm looking into this and shall have it fixed ASAP.

[2016-04-12 11:14] Wild1145 commented on #84
@LegendIsAwesomes Thankyou, this is something to be investigated.

[2016-04-12 14:17] CameronRedmore commented on #84
Just checked this, the whole adding yourself to admin thing, the command doesn't appear to go through yet it displays the notifications that it has. I'll fix this now.

[2016-04-12 14:26] #176 closed

[2016-04-12 14:29] #84 closed

[2016-04-12 14:31] CameronRedmore commented on #167
Done in the latest commit, that message was all kinds of screwy...

[2016-04-12 14:31] #167 closed

[2016-04-12 17:40] CameronRedmore opened #177 "Nick / Tag Blacklists"
Blacklists should be implemented to disallow certain words, phrases and characters.

[2016-04-12 19:44] Wild1145 opened #178 "Re-Strucure Ranks"
I need to re-structure how some of the ranks work due to changes that we have decided to implement from a server perspective. I should get these done inside 24 hours.

[2016-04-12 20:16] mgejay commented on #177
I will do this.

[2016-04-13 13:21] mainey commented on #178
So you mean, changing the admin level system works?

[2016-04-13 13:22] mainey commented on #178
or just do a minor code cleanup ?

[2016-04-13 13:27] Vaughnellope opened #179 "adding Wildcard command ?"
i thought it will be great if Ryan have the wildcard command going on again _for him only_

if it's ok, i can submit the remaked code, but still uncomplete.

_Enchantment_

[2016-04-13 13:39] Wild1145 commented on #178
Changing how the admin level system actually works.

[2016-04-13 13:45] mainey commented on #178
Shall we change it back to like this?

prettt much the same as the old one

for ex:

public static final List<String> (Ranks in here) = Arrays.asList("_MichBent");

or?

[2016-04-13 14:06] mgejay commented on #178
@MichBent This isn't TFM. We dont and didn't use arraylists to assign ranks.

[2016-04-13 14:10] mainey commented on #178
Eh nvm, it will conflict with the mysql database .. nvm with that. Sry

[2016-04-13 19:41] TheCJGCJG commented on #179
This command should not be restricted to just him, there are legitimate uses for wildcard, it should be available to all supers (or seniors, at least)

[2016-04-13 22:25] mainey commented on #179
Oh ok, im gonna change the pernissions later

[2016-04-14 02:18] mainey commented on #179
i'll add the file into my repo, this morning.

[2016-04-15 20:26] Wild1145 opened #183 "Developers Dev Mode Issue"
For some reason as a Manager I cannot use /devmode developers

https://pravi.us/JEI

[2016-04-15 20:33] #178 closed

[2016-04-15 20:42] Wild1145 opened #184 "Tab API no longer working"
For some reason I cannot manage to get the TabAPI to work that @Paul19988 Implemented. If @Paul19988 could take a look I would appreciate it.

[2016-04-15 21:36] mgejay commented on #183
@Wild1145 In the ICM_Rank, check if the arraylist contains the player.getName(), and if it does, return their rank as MANAGER.

[2016-04-15 21:37] Wild1145 commented on #183
I return as a manager and developer.

[2016-04-15 22:34] #183 closed

[2016-04-15 23:46] CameronRedmore opened #185 "Convert Devmode to MySQL"
Edit: Turns out these are used in devmode. The devmode system should instead be converted to use the MySQL database rather than these static lists.

[2016-04-15 23:47] Wild1145 commented on #185
Its used as part of the devmode system... I was thinking the same myself.

[2016-04-15 23:57] #185 closed

[2016-04-17 02:42] mainey commented on #179
https://github.com/MichBent/IcarusMod/commit/028bd488d36a05c42049eb80568ee589911cbd6c

[2016-04-17 06:33] mgejay commented on #179
@MichBent Doesn't even compile, lol.

[2016-04-17 06:35] mainey commented on #179
@Adaptified   What's the problem ? i can work on that.

It do compile on my computer and run perfectly on my private server though

[2016-04-17 06:40] mainey commented on #179
Empty after if/else statement?

[2016-04-18 21:53] Wild1145 opened #188 "Login Titles fucked up"
They dont load when I login any more...

[2016-04-19 22:14] mgejay commented on #188
I will lookover this

[2016-04-20 00:36] Wild1145 opened #189 "Promotion Stuff not working too well"
Even when it errors it says its successful... https://pravi.us/g1L

[2016-04-20 20:09] Wild1145 commented on #184
With the changes I have made to the server configuration, this will no longer be needed.

[2016-04-20 20:09] #184 closed

[2016-04-22 16:44] Wild1145 commented on #161
This is not resolved

`[12:43:24] [Server thread/ERROR]: Could not pass event PlayerLoginEvent to IcarusMod v1.0
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:310) ~[spigot.jar:git-Spigot-ccb6016-f92e01b]
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot.jar:git-Spigot-ccb6016-f92e01b]
    at

[2016-04-22 17:54] #161 closed

[2016-04-22 18:18] CameronRedmore commented on #124
Is this really necessary? The ICM doesn't super based on IP, it simply uses the IP to see if someone is real. If Player1 joins on IP 1.2.3.4 and is supered then Player2 joins on IP 1.2.3.4, Player1 is super admin but Player2 is not. If Player1 then joins on IP 4.3.2.1 they will be flagged as an imposter, if Player2 joins on IP 4.3.2.1 they will not as they are not in the admin list.

[2016-04-22 18:21] CameronRedmore commented on #189
This was fixed a few commits back, I didn't close it in the commit message however.

[2016-04-22 18:37] Wild1145 commented on #189
This was happening on the latest stable build when trying to add someone to a lower rank like I did earlier.

[2016-04-22 18:48] #175 closed

[2016-04-22 18:48] #188 closed

[2016-04-22 19:02] CameronRedmore commented on #189
Oh really? Well, I'll fix that now then. This is another thing that I definitely fixed. Maybe I'm calling the wrong method again :/

[2016-04-22 19:05] #189 closed

[2016-04-22 21:53] CameronRedmore opened #190 "TestIssue"
Testing issues to rss

[2016-04-22 21:53] #190 closed

[2016-04-23 01:35] Hockeyfan360 commented on #183
@Wild1145 I've been kind of slow with all of the issues lately, but I've got a new adminmode/devmode system that I'll be pushing out soon. It works very differently, and it is more compact.

[2016-04-23 02:17] Hockeyfan360 opened #191 "Permissions Support for Third Party Plugins"
I think that we should integrate a permissions system so that we can use third party plugins on the server. This will also allow us to give bungee permissions to all players.

[2016-04-23 16:55] Wild1145 commented on #191
Elaborate?

[2016-04-23 16:56] Wild1145 commented on #183
@Hockeyfan360 Sounds good. Lets focus that around the 1.2 release for now, I want to make sure 1.1 has no bugs, release it and then we can aim towards 1.2 ;)

[2016-04-23 16:59] CameronRedmore commented on #191
I believe he's talking about the same kinds of permissions as done by PEX and Group Manager. Maybe making hooks into the plugin that let plugins know those types of permissions. The API for this is actually very simple and won't need anything rewriting, just a little extra adding I believe.

[2016-04-23 16:59] CameronRedmore commented on #191
Didn't mean to close that

[2016-04-24 02:01] Hockeyfan360 commented on #191
Precisely, @CameronRedmore .

[2016-04-25 09:53] mainey commented on #191
but what third party plugins? for ex?

[2016-04-25 09:57] MichBent opened #192 "rollback manager ?"
for icm

[2016-04-25 19:46] Wild1145 commented on #192
More information?

[2016-04-29 13:42] Wild1145 commented on #13
Okay, what do we think of this? Go, No-Go? Custom rollback system?

[2016-04-29 15:14] CameronRedmore commented on #13
Hmm, I think a custom system would be nice to work towards. At the present time I do believe we should have SOMETHING in place however. Maybe temporary core protect until a full system can be implemented?

[2016-04-29 21:53] Hockeyfan360 commented on #13
Core protect is the most extensive grief prevention tool there is. I don't see a reason not to integrate it. If we needed to conserve resources, we could just wipe data on plugin stop. This would not need much tweaking if we implemented a permissions system, as I suggested in another issue.

[2016-05-03 21:50] Wild1145 commented on #130
I have had a think about it and actually running an admin only server to serve as "adminworld" I think would be the best way forward. Lets give the admins a proper place to hang out.

[2016-05-03 21:50] #130 closed

[2016-05-03 21:50] Wild1145 commented on #153
@Hockeyfan360

[2016-05-03 21:51] Wild1145 commented on #151
Is this still an active issue?

[2016-05-03 21:52] Wild1145 commented on #108
I think this is something we should look at, but as a low priority. Ultimately this is designed as a multi-server plugin, and MySQL servers are easy enough to get, even free ones are out there.

[2016-05-03 21:54] Wild1145 opened #193 "Create Javadocs for core functions"
I would like all of our "Core" functions that are used throughout the plugin to have documentation to go with it. This is something that I will likely handle myself, but if anyone creates anything that is "core" then I would ask that you do create the appropriate documentation to go with it.

[2016-05-03 21:54] Wild1145 commented on #40
#193 has been opened to start heading towards this goal.

[2016-05-03 21:57] Wild1145 opened #194 "Create cage command"
This should allow players to be caged and not to exit their cages. I am not to fussed on the admins being able to set the block, I'd rather just leave it as glass and potentially add some Easter eggs into it down the line.

Part of #38

[2016-05-03 21:58] Wild1145 opened #195 "Custom op and deop commands"
These would avoid the current issues that we have with different servers being out of sync.

As a part of this there should be a rank check on login, and if they are OP then OP them, but if they are not them de-op them. Admins should always be OP'd on join.

[2016-05-03 21:59] Wild1145 commented on #98
Im thinking that maybe leaving this as usernames may work better? I know it means that admins wont be updated on name change, but thats no real bad thing as we dont really approve of it.

Plus it means we dont have to try to resolve / spoof UUID's

[2016-05-03 22:01] Wild1145 opened #196 "Add freeze command"
This would freeze all (or the defined) players on the server to stop them being able to move. It should also block their commands to stop them being able to do anything to make them move, or at the very least stop them using commands such as /top and /jump

Part of #38

[2016-05-03 22:06] Wild1145 commented on #55
Superseded by #194

[2016-05-03 22:06] #55 closed

[2016-05-05 06:06] mainey commented on #192
oh sry for the long time no reply, so it's a matter of rolling back things, for example if somebody grief we can rollback all of the mess he/she made, etc.

[2016-05-05 17:02] Wild1145 commented on #192
Superseded by #13

[2016-05-05 17:02] #192 closed

[2016-05-15 15:11] Hockeyfan360 commented on #108
@Wild1145 Maybe instead of this we could link people to the mysql server installation files for a local testing server. I agree with the earlier you, there would be no purpose.

[2016-05-17 23:08] #153 closed

[2016-05-24 10:54] Wild1145 commented on #195
Test Comment

[2016-10-25 21:32] Wild1145 commented on #196
test

[2016-10-25 21:32] Wild1145 commented on #196
22

[2016-10-25 23:17] Hockeyfan360 commented on #191
In case I wasn't clear enough:

I'm talking about creating a permissions handler. We create a new table called `permissions`. We create the columns `rank` and `permissions`, and there is an entry for each rank. Based on your rank, the permissions specified are given to you.

[2016-10-25 23:41] Wild1145 commented on #191
@Hockeyfan360 This is something that we do need to be working on as a bit more of a priority now anyway, as we will be running non-freedom servers, and we will need to be able to handle other plugins without the complexities of additional permissions plugins that manage things.

[2016-10-26 16:34] Wild1145 opened #197 "Unbanning still not working"
For some reason unbanning players using the /unban command on the latest version is still not working. It tells you that they are unbanned, however does not remove the Database entry.

[2016-10-26 16:41] Wild1145 opened #198 "Executives not showing in /saconfig list"
For some reason executives are not currently showing in the super admin list.

[2016-10-26 16:50] #198 closed

[2016-11-12 14:33] Wild1145 opened #200 "Whitelist toggle broadcasting"
Currently when you add or remove a player from the servers whitelist however no such broadcasting appears to happen when you toggle it on or off. This is something I would like to have added.

[2016-11-12 20:19] Wild1145 opened #201 "Banning is broken... Again..."

[2016-11-12 20:28] Wild1145 commented on #201
I should also add that the player was offline at the time.

[2016-11-27 12:44] Wild1145 opened #203 "Dual Prefix"
I would like to add an additional "Short" Prefix that is unable to be changed by the user, and is automatically set by the plugin to show their rank across the network. This should reduce confusion, but also allow us some flexibility in the future for showing off donors and such.

[2016-11-27 12:51] Wild1145 commented on #1
Upon review Im not as confident that we really will need this, not on the freedom servers anyway. So im putting this back for further review.

[2016-11-27 13:02] #137 closed

[2016-11-27 13:09] #200 closed